SECRET_KEY=django-insecure-&)m%k+k=03iux(@12qr4_qw(01ze2kg4f8#k45iwpnepim1vss
DEBUG=True

CELERY_BROKER_URL=redis://127.0.0.1:6379/0
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/0

DB_NAME=postgres
POSTGRES_USER=user
POSTGRES_PASSWORD=pass
DB_HOST=localhost
DB_PORT=5432
